.root {
    -fx-background-color: #383838;
    -fx-font-family: "CookieRun Regular";
}

#okButton, #cancelButton {
    -fx-font-family: "CookieRun Black";
}

#nameInputField, #idInputField, #passwordInputField ,#urlInputField{
    -fx-font-family: "Noto Sans KR";
}

#addTitle {
    -fx-font-family: "Noto Sans KR Bold";
    -fx-font-size: 16;
}